@media (min-width: 1600px) {
  .container {
    max-width: 1500px;
  }
}
.main-header {
  inset: 0 0 auto;
  z-index: 99;
}
.header-fixed .main-header {
  position: fixed;
}
@media (max-width: 1199px) {
  /* .main-header {
    padding: 12px 25px;
  } */
  .main-header .container,
  .main-header .container-fluid,
  .main-header .container-xxl,
  .main-header .container-xl,
  .main-header .container-lg,
  .main-header .container-md,
  .main-header .container-sm {
    /* --bs-gutter-x: 0; */
  }
}
@media (max-width: 767px) {
  .main-header .main-header .main-logo img {
    width: 80px;
    height: auto;
  }
}
.main-header .navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='14' viewBox='0 0 20 14' fill='none'%3E%3Crect width='20' height='2' rx='1' fill='white'/%3E%3Crect y='6' width='20' height='2' rx='1' fill='white'/%3E%3Crect y='12' width='20' height='2' rx='1' fill='white'/%3E%3C/svg%3E");
  --bs-navbar-toggler-padding-y: 13px;
  --bs-navbar-toggler-padding-x: 12px;
  --bs-navbar-toggler-border-radius: 12px;
}
.main-header .navbar .navbar-toggler {
  background-color: #1f2126;
  color: #fff;
  width: 44px;
  height: 40px;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header .navbar .navbar-toggler .navbar-toggler-icon {
  width: 20px;
  height: 14px;
  display: block;
}
@media (max-width: 1199px) {
  .main-header .navbar .navbar-toggler {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 1199px) {
  .main-header .offcanvas-backdrop {
    background-color: transparent !important;
  }
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body {
    background-color: transparent;
    position: relative;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  --bs-link-color: #000;
  --bs-link-hover-color: #08A698;
  padding: 20px 0px 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1600px) {
  .main-header .offcanvas .offcanvas-body .main-nav {
    grid-template-columns: auto 1fr auto;
  }
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav {
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 100%;
    background-color: transparent;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .main-logo {
  -ms-flex-item-align: center;
      align-self: center;
}
.main-header .offcanvas .offcanvas-body .main-nav .language-dropdown img {
  width: 24px;
  height: 24px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  vertical-align: middle;
}
.main-header .offcanvas .offcanvas-body .main-nav .navbar-nav {
  --bs-navbar-color: #000;
  --bs-navbar-hover-color: #08A698;
  --bs-navbar-active-color: #08A698;
  --bs-navbar-disabled-color: rgba(255, 255, 255, 0.8);
  -ms-flex-item-align: center;
      align-self: center;
  justify-self: center;
  --bs-nav-link-font-size: 18px;
  --bs-nav-link-font-weight: 400;
  font-family: "Sora";
  gap: 40px;
}
@media (max-width: 1600px) {
  .main-header .offcanvas .offcanvas-body .main-nav .navbar-nav {
    --bs-nav-link-font-size: 16px;
    gap: 30px;
  }
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .navbar-nav {
    -ms-flex-item-align: stretch;
        align-self: stretch;
    gap: 0;
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .navbar-nav .nav-item {
    position: static;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .navbar-nav .nav-item:nth-of-type(1n + 2) {
    border-top: 1px solid #1d1e23;
    margin-top: 12px;
    padding-top: 12px;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .navbar-nav .nav-item .nav-link > img,
.main-header .offcanvas .offcanvas-body .main-nav .navbar-nav .nav-item .nav-link > svg {
  vertical-align: middle;
  display: inline-block;
  margin-right: 12px;
}
.main-header .offcanvas .offcanvas-body .main-nav .navbar-nav .nav-item .nav-link > span {
  vertical-align: middle;
  display: inline-block;
}
.main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center .nav-item:nth-of-type(1) {
    margin-top: 40px;
    width: 100%;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center .nav-item:nth-of-type(1n + 2) {
    margin-top: 20px;
    width: 100%;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 12px 24px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.2px;
    border-radius: 64px;
    background: #1f2126;
    font-family: "Chillax", sans-serif;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center .dropdown.language-dropdown {
    width: 100%;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .nav.align-items-center .dropdown.language-dropdown .nav-link.dropdown-toggle {
    border-radius: 12px;
    border: 1px solid #1f2126;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media (max-width: 767px) {
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-toggle[data-bs-toggle=close] {
    border-radius: 12px;
    background: #1f2126;
    padding: 20px 0px 20px 12px;
    width: 100%;
    margin-bottom: 10px;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-toggle[data-bs-toggle=close]:after {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-left: 0;
    margin-right: 10px;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-toggle:after {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='17' viewBox='0 0 16 17' fill='none'%3E%3Cpath d='M4 6.5L8 10.5L12 6.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  border: 0;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-toggle:after {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    margin-left: auto;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu {
  --bs-dropdown-bg: #1f2126;
  --bs-dropdown-border-color: #393b44;
  --bs-dropdown-border-width: 0;
  --bs-dropdown-link-hover-bg: #000;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-border-radius: 12px;
  -webkit-box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 16px 20px 0px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    visibility: hidden;
    display: block;
    -webkit-transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
    transition: visibility 0.2s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, visibility 0.2s ease;
    transition: transform 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
    background-color: #141518;
  }
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu.show {
    -webkit-transform: translate(0);
            transform: translate(0);
    visibility: visible;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu li {
  padding: 0;
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu li:nth-of-type(1n + 2) {
  border-top: 1px solid var(--bs-dropdown-border-color);
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu li a {
  padding: 12px 20px;
  color: #fff;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 21.6px */
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu li a {
    padding: 12px 0;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .dropdown .dropdown-menu li a > small {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.14px;
}
.main-header .offcanvas .offcanvas-body .main-nav .btn {
  border-radius: 10px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 52px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: "Sora", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0px;
}
@media (max-width: 1199px) {
  .main-header .offcanvas .offcanvas-body .main-nav .btn {
    width: 100%;
  }
}
.main-header .offcanvas .offcanvas-body .main-nav .btn:hover, .main-header .offcanvas .offcanvas-body .main-nav .btn:focus, .main-header .offcanvas .offcanvas-body .main-nav .btn:focus-within {
  background: #ad9e40;
}

.support-Dropdwn {
  --postion-offset: 30px;
  position: fixed;
  inset: auto var(--postion-offset) var(--postion-offset) auto;
}
.support-Dropdwn .dropdown .btn {
  letter-spacing: -0.2px;
  --bs-btn-padding-x: 24px;
  --bs-btn-padding-y: 12px;
  --bs-btn-font-family: "Chillax";
  --bs-btn-font-size: 20px;
  --bs-btn-font-weight: 500;
  --bs-btn-line-height: normal;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: #f4a4ec;
  --bs-btn-color: #121316;
  --bs-btn-hover-bg: #d067c6;
  --bs-btn-active-bg: #d067c6;
  --bs-btn-hover-color: #121316;
  --bs-btn-active-color: #121316;
  --bs-btn-border-radius: 32px;
  --bs-btn-border-color: var(--bs-btn-bg);
  --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
  --bs-btn-active-border-color: var(--bs-btn-hover-bg);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #ec407a;
  --bs-btn-disabled-border-color: #ec407a;
}
.support-Dropdwn .dropdown .btn:after {
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 6L8 10L4 6' stroke='%23121316' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: baseline;
}
.support-Dropdwn .dropdown .btn.show::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 10L8 6L12 10' stroke='%23121316' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.support-Dropdwn .dropdown ul.dropdown-menu {
  bottom: 30px !important;
  border-radius: 20px;
  background: #1f2126;
  -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.25);
  padding: 20px 24px;
}
.support-Dropdwn .dropdown ul.dropdown-menu .dropdown-item {
  color: #fff;
}
.support-Dropdwn .dropdown ul.dropdown-menu .dropdown-item:hover, .support-Dropdwn .dropdown ul.dropdown-menu .dropdown-item:focus {
  color: #fff;
  background: #1f2126;
  opacity: 0.9;
}

.container-narrow .container {
  max-width: 808px;
}

.breadcrumb-section {
  margin: 40px 0;
}
@media (max-width: 767px) {
  .breadcrumb-section {
    margin: 32px 0;
  }
}
.breadcrumb-section .breadcrumb {
  margin: 0;
  --color: #f4a4ec;
  --bs-breadcrumb-divider-color: var(--color);
}
.breadcrumb-section .breadcrumb .breadcrumb-item {
  color: var(--color);
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
}
.breadcrumb-section .breadcrumb .breadcrumb-item > li::before {
  font-size: 22px;
}
.breadcrumb-section .breadcrumb .breadcrumb-item a {
  color: var(--color);
  font-family: "Manrope";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 25.6px */
  text-decoration: none;
}

.rte .accordion {
  --bs-accordion-color: #fff;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: transparent;
  --bs-accordion-bg: transparent;
  --bs-accordion-border-radius: 0;
  --bs-accordion-border-color: #2d3038;
  --bs-accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='16' fill='%231F2126'/%3E%3Cpath d='M16 8V24' stroke='%23F4A4EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8 16H24' stroke='%23F4A4EC' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-padding-x: 0;
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32' fill='none'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23F4A4EC'/%3E%3Cpath d='M8 16H24' stroke='%231F2126' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 0;
  --bs-accordion-btn-icon-width: 32px;
  border: 0;
}
.rte .accordion .accordion-item {
  border-width: 0 0 1px;
}
.rte .accordion .accordion-item .accordion-button {
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
  -webkit-box-shadow: none;
          box-shadow: none;
}
.rte .accordion .accordion-item .accordion-body {
  color: #fff;
  font-family: "Manrope";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 32.4px */
  letter-spacing: 0.36px;
}
@media (max-width: 767px) {
  .rte .accordion .accordion-item .accordion-body {
    font-size: 16px;
  }
}
/*# sourceMappingURL=style.css.map */

/* .w-100 {
  position: relative;
  width: 100%;
  height: 625px;

} */
.col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: 28%;
}
.custom-width {
  width: 100%;
}

.h-100 {
  height: 100% !important;
  border-radius: 10px;
}
.custom-bg-black {
  background-color: #1E1E1E !important; 
}
.text-custom {
  color: #08A698 !important;
}

























.contain{
  position: relative;
}
.multicolumn-section {
  margin-top: -50px;
}
.bg-box-part{
  background-color: #1E1E1E !important;
}
.card-text-part{
  color: #EDF0F3;
}
.multicolumn-section .card {
  border: 0;
  border-radius: 0;
  background-color: #F5F5F5;
}
.multicolumn-section .row {
  border-radius: 30px;
  overflow: hidden;
}
.products-section .mask {
  position: absolute;
  bottom: 20px;
  width: 100%;
  align-items: center;
  padding: 0 10px;
}
.products-section .text.product_heading_part {
  font-size: 48px;
}
.products-section .product_subheading_part{
  font-size: 15px;
  text-transform: uppercase;
}
.products-section{
  background-color: #F5F5F5;
}
.products-section .product-heading-icon {
  background: #fff;
  padding: 5px 10px;
  margin-left: 15px;
}
.image-with-text .text-left-content h2 {
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #1E1E1E;
}
.navbar .main-nav .nav-item .nav-link {
  font-size: 15px;
}
.annoucebar-section .announceber-text span {
  font-size: 14px;
}
.text-with-image .text {
  font-weight: 900;
  font-size: 45px;
  text-transform: uppercase;
  color: #000000;
}
.contact-us-section .contact-heading {
  font-weight: 900;
  font-size: 48px;
  color: #000000;
}
.contact-us-section .small-heading {
  font-weight: 700;
  font-size: 20px;
  color: #121212;
}
.contact-us-section .email-part {
  color: #000 !important;
  text-decoration: none;
}
.contact-us-section .contact-form-heading {
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
}
.contact-us-section .form-contact {
  background: #F5F5F5;
  border-radius: 40px;
}
.contact-us-section .form-control{
  border: 0;
  padding: 14px;
}
.form-contact input::placeholder{
  color: #000;
  font-size: 14px;
}
.submit-btn {
  width: 100%;
  font-size: 15px;
  padding: 14px;
}

.logo-bottom-content{
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.custom-footer ul li {
  margin-bottom: 12px;
}
.custom-footer ul li a {
  text-decoration: none;
}






/* about-us start */
.about-us-section .text {
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #1E1E1E;
}
.about-us-section .card {
  border: 0;
}
.about-us-section {
  background: #F5F5F5;
}


/* about-us end */

/* product-page start */
.product-grid-section .card-body h5 {
  color: #000 !important;
}
.product-grid-section .card-text {
  font-size: 15px;
}
.product-grid-section .card-img-top {
  aspect-ratio: 4 / 3;
}
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
  content: ">";
}

/* product-page end */


.contact-inquiry-section .form-contact {
  background: transparent;
  border-radius: 40px;
}

.contact-inquiry-section .form-control {
  border: 0;
  padding: 14px;
  background: #F5F5F5;
}



@media (max-width: 992px) {
.mask p {
  font-size: 14px;
  text-align: left;
}
.products-section .product-heading-icon {
  background: #fff;
  padding: 1px 5px;
  margin-left: 8px;
}
.products-section .mask {
  padding: 0px 10px;
}
.container {
  max-width: 750px;
}
}

@media (max-width: 767px) {
.image-with-text .text-left-content h2 {
  font-size: 22px;
}
.text-with-image .text {
  font-size: 22px;
}
.contact-us-section .contact-heading {
  font-size: 22px;
}
.contact-us-section .contact-form-heading {
  font-size: 18px;
}
.text-left-content  {
  margin-bottom: 30px;
}
.products-section .text.product_heading_part {
  font-size: 22px;
}
.container {
  max-width: 600px;
}
.about-us-section .text {
  font-size: 22px;
}
}

@media (max-width: 480px) {
.annoucebar-section .announceber-text span {
  font-size: 10px;
}
}




.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 45%);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}